* {
    margin:0;
}
body {
    background: linear-gradient(45deg,limegreen,coral,limegreen);
}
.header {
    background-color: black;
    height: 70px;
}
#brand {
  
 width:40% ;
 color:white;
 float: left;
 text-align: center;
 line-height: 70px;
}
a {
    text-decoration: none;
    color:white;
    margin-right:25px;
}
#nav {
    width: 60%;
    float: right;
    text-align: center;
    line-height: 70px;
}
.main {
    text-align: center;
}

#h3 {
    background: linear-gradient(45deg,red,black);
    color: white;
  
    padding:10px;
    border-radius: 50%;
    width: 40%;
    margin:15px auto
}
table {
    margin:20px 0px;
    width: 100%;
}
 img {
     border-radius: 20px;
     box-shadow : 0 0 10px black;
 }
 td {
     font-family: cursive;
 }
 .footer{
    background-color: rgb(37, 27, 27);
     margin-top: 50px;
     padding: 20px;
     text-align: center; 
    color: whitesmoke;
}